.container {
  width: 550px;
  height: 550px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.068);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* blobs */

.top-blob{
  content: url(/src/assets/yellow-blob.svg);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 355px;
  z-index: -3;
}

.bottom-blob{
  content: url(/src/assets/purple-blob.svg);
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 400px;
  z-index: -3;
}

h1 {
  margin: 0;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 1.953125rem;
  color: #293264;

}

p {
  margin: .25rem 0 1.5rem 0;
  color: #293264;
}

button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background: #4D5B9E;
  color: white;
  border: none;
  border-radius: 15px;
  width: 193px;
  height: 52px;
  transition: .2s ease-in background-color;
}

button:hover {
  background-color: #293264;
  cursor: pointer;
}
