.check-answers, .play-again {
  width: auto;
  height: auto;
  font-size: 0.9rem;
  padding: 7px 25px 7px;
  border-radius: 8px;
  margin-top: 1rem;
}

.score {
  display: inline;
  margin-right: 1.5rem;
  font-weight: 700;
  font-size: 0.8rem;
}

@media screen and (max-width: 500px) {
  .score {
    display: block;
    margin-right: 0;
    margin-top: 1.5rem;
  }

  .play-again {
    display: block;
    margin: 0 auto;
  }
}
