.question {
  border-bottom: 0.79px solid #DBDEF0;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.question p {
  font-family: 'Karla', sans-serif;
  line-height: 1.169rem;
  margin: 0 0 .15rem 0;
  font-weight: 700;
}

.question ul {
  list-style:none;
  margin: .5rem 0 1rem;
  padding: 0;

}

.question li {
  display: inline-block;
  margin: 0 10px 3px 0;
  font-size: 0.9rem;
  font-weight: 400;
  color: #293264;
  border: 0.77px solid #4D5B9E;
  border-radius: 7.71px;
  padding: 3px 6px;
  background: white;
}

@media screen and (max-width: 500px) {
  .question li {
    margin-top: 6px;
  }
}

.question li.selected-answer {
  background: #D6DBF5;
  border-color: #D6DBF5;
}
